@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

//FONTS
$universalFont: 'Nunito', sans-serif;;

//TEXT SIZING
$titleSize: 4.2rem;
$subtitleSize: 3rem;
$pSize: 1.9rem;
$navSize: 1.2rem;
$formSize: 2rem;
$h3Size: 2.5rem;
$h4Size: 2.2rem;



// FONT WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

